# macOS
.DS_Store

# Windows
Thumbs.db
[Dd]esktop.ini

# JetBrains
.idea/
*.iml

# Visual Studio Code
.vscode/

# Node.js
node_modules/
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
.swc/

# Vercel
.vercel

# Testing
coverage/

# Build
build/

# Generated
*.log

# Secrets
.env.local
